body {
  background-color:  #FFD1DC;
}

h1{
  color: #663300;
    text-align: center;
}

h2{
    color: #C32148;
    text-align: center;
}

h5{
    color: #C32148;
    text-align: center;
}
p{
    color: #C32148;
    text-align: center;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
    background-color: #E4D00A;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: #C32148;
}
