h1{
  color: #D4AF37;
  text-align: center;
}

p{
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  width: 40%;
}

}

li{color: #8B008B;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  width: 15%;
}




body {
  background-color: #FFD1DC;
}

img {
  float: right;
}

#video{
  float: left;
}

#vid{
  float: left;
}

.nav{
    border:1px solid #C32148;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: #FFD1DC;
}
.nav li{
    display:inline;
    background-color: #E4D00A;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: #C32148;
    background-color: #E4D00A;
}
