h1{color: #C32148;}

p{color: black;}

li{color: #8B008B;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

h1 {text-align: center;}

p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  width: 40%;
}

body {
  background-color: #FFD1DC;
}
